<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site patch:before="site[@name='website']"
            inherits="website"
            name="sitecore-nextjs-app"
            hostName="sitecore-nextjs-app.dev.local"
            rootPath="/sitecore/content/sitecore-nextjs-app"
            startItem="/home"
            database="master"
            layoutServicePath="/sitecore/api/layout/render/jss"
            graphQLEndpoint="/sitecore/api/graph/edge" />
      
      <!-- Example: Add more sites here -->
      <!--
      <site patch:after="site[@name='sitecore-nextjs-app']"
            inherits="website"
            name="siteB"
            hostName="siteb.local"
            rootPath="/sitecore/content/siteB"
            startItem="/home"
            database="master"
            layoutServicePath="/sitecore/api/layout/render/jss"
            graphQLEndpoint="/sitecore/api/graph/edge" />
      -->
    </sites>
  </sitecore>
</configuration>
